<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Bonhome
        </title>
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bonhome.css' %}">

    </head>
    <body>


        <script type="text/javascript" src="{% static 'js/bonhome.js' %}">
        </script>

        <div style="height:3000px">
            .
        </div>
    </body>
</html>


